<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="style.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <title>Inventory App</title>
</head>
<body>
  <div id="app" v-cloak>
    <v-app>
        <v-content>
            <v-toolbar>
              <v-toolbar-title>Universal Inventory</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-items>
                <v-btn flat v-on:click=""> Sign In</v-btn>
                <v-btn flat v-on:click=""> Sign Up</v-btn>
              </v-toolbar-items>
            </v-toolbar>

            <v-navigation-drawer class="blue lighten-3" dark app v-model="drawer">
                <v-list>
                    <v-list-tile>
                      <v-list-tile-title class="title">
                        Universal Inventory
                      </v-list-tile-title>
                    </v-list-tile>
                    <v-divider></v-divider>

                    <v-list-tile v-for="item in items" v-on:click="page = item.page">
                        <v-list-tile-action>
                          <v-icon>{{ item.icon}}</v-icon>
                        </v-list-tile-action>
                        {{item.page}}
                    </v-list-tile>
                </v-list>

            </v-navigation-drawer>
            <v-container grid-list-lg fluid v-if="page == 'dashboard'">
                <h1> Dashboard </h1>
            </v-container>
            <v-container grid-list-lg fluid v-if="page == 'inventory'">
                <h1> Inventory</h1>

                <template>
                <div>
                    <v-dialog v-model="dialog" max-width="500px">

                    <template v-slot:activator="{ on }">
                      <v-btn color="primary" dark class="mb-2" v-on="on">New Item</v-btn>
                    </template>
                    <v-card>
                      <v-card-title>
                          <h1> New Item </h1>
                      </v-card-title>


                      <v-card-text>
                        <v-container grid-list-md>
                          <v-layout wrap>
                            <v-flex xs12 sm6 md4>
                              <v-text-field v-model="newMarketplace" label="MarketPlace"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                              <v-text-field v-model="newImage" label="Image URL"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                              <v-text-field v-model="newTitle" label="Title"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                              <v-text-field v-model="newCategory" label="Category"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                              <v-text-field v-model="newQuantity" label="Qty"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                              <v-text-field v-model="newCost" label="Cost"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                              <v-text-field v-model="newSku" label="SKU"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                              <v-text-field v-model="newLocation" label="Location"></v-text-field>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click="addItem()">Save</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
              </div>
              </template>

                <v-data-table
                  :headers="headers"
                  :items="inventory"
                  class="elevation-1"
                >
                 <template v-slot:items="props">
                     <td>{{ props.item.marketplace }}</td>
                     <td><v-img width="100%" v-bind:src="props.item.image"></v-img></td>
                     <td>{{ props.item.title }}</td>
                     <td>{{ props.item.category}}</td>
                     <td>{{ props.item.quantity }}</td>
                     <td>{{ props.item.sku }}</td>
                     <td>{{ props.item.location }}</td>
                     <td>{{ props.item.cost }}</td>
                     <td class="layout">
                              <v-icon class="mr-2 align-center pt-4" small  @click=""> edit </v-icon>
                              <v-icon class="mr-2 align-center pt-4" small @click="deleteItem(props.item)"> delete </v-icon>
                    </td>

                 </template>



                </v-data-table>
            </v-container>
            <v-container grid-list-lg fluid v-if="page == 'admin'">
                <h1> Admin</h1>
            </v-container>

        </v-content>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="app.js"></script>
</body>
</html>
