<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="style.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <title>Inventory App</title>
</head>
<body>
  <div id="app" v-cloak>
    <v-app>
        <v-content>
            <v-toolbar>
              <v-toolbar-title>Universal Inventory</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-items>
                <v-btn flat v-on:click=""> Sign In</v-btn>
                <v-btn flat v-on:click=""> Sign Up</v-btn>
              </v-toolbar-items>
            </v-toolbar>

            <v-navigation-drawer class="blue darken-1" dark app v-model="drawer">
                <v-list>
                    <v-list-tile>
                      <v-list-tile-title class="title">
                        Universal Inventory
                      </v-list-tile-title>
                    </v-list-tile>
                    <v-divider></v-divider>

                    <v-list-tile v-for="item in items" v-on:click="page = item.page">
                        <v-list-tile-action>
                          <v-icon>{{ item.icon}}</v-icon>
                        </v-list-tile-action>
                        {{item.page}}
                    </v-list-tile>
                </v-list>

            </v-navigation-drawer>
            <v-container grid-list-lg fluid v-if="page == 'dashboard'">
                <h1> Dashboard </h1>
                <v-layout row>
                    <v-flex xs6>
                        <v-card>
                            <v-card-title>
                                <v-icon size="80px" left color="#ff5252" class="mb-10" z-index="1">
                                    insert_chart
                                </v-icon>
                                    Total Inventory Items {{inventory.length}}
                            </v-card-title>
                        </v-card>
                    </v-flex>
                    <v-flex xs6>
                        <v-card>
                            <v-card-title>
                                <v-icon size="80px" left color="#FFEB3B" class="mb-10" z-index="1">
                                    monetization_on
                                </v-icon>
                                Total Sales
                            </v-card-title>
                        </v-card>
                    </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex xs6>
                        <v-card>
                            <v-card-title>
                                <v-icon size="80px" left color="#8E24AA" class="mb-10" z-index="1">
                                    local_shipping
                                </v-icon>
                                    Total Orders Shipped
                            </v-card-title>
                        </v-card>
                    </v-flex>
                    <!-- <v-flex xs6>
                        <v-card>
                            <v-card-title>
                                <v-icon size="80px" left color="#FFEB3B" class="mb-10" z-index="1">
                                    monetization_on
                                </v-icon>
                                Total Sales
                            </v-card-title>
                        </v-card>
                    </v-flex> -->
                </v-layout>
                <v-layout row>

                    <v-flex xs12>

                            <h1> Calendar <h2>{{todaysdate}}</h2></h1>

                            <v-calendar v-if="re_render" color="#00C853">
                                <template v-slot:day="{ date }">
                                    <template v-for="event in eventsMap[date]">
                                      <v-menu :key="event.title" v-model="event.open" full-width offset-x>
                                        <template v-slot:activator="{ on }">
                                          <div
                                            v-if="!event.time"
                                            v-ripple
                                            class="my-event"
                                            v-on="on"
                                            v-html="event.title"
                                          ></div>
                                        </template>
                                        <v-card
                                          color="#00C853"
                                          min-width="350px"
                                          flat
                                        >
                                            <v-toolbar color="#00C853" dark>
                                                <v-toolbar-title>
                                                    {{event.title}}
                                                </v-toolbar-title>
                                                <v-spacer></v-spacer>
                                            </v-toolbar>
                                            <v-card>
                                                <v-card-title primary-title dark>
                                                    {{event.details}}
                                                </v-card-title>
                                                <v-card-actions>
                                                    <v-btn flat>
                                                            Cancel
                                                    </v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-card>
                                        </v-menu>
                                    </template>
                                </template>
                            </v-calendar>
                    </v-flex>
                </v-layout>
            </v-container>
            <v-container grid-list-lg fluid v-if="page == 'inventory'">
                <h1> Inventory</h1>
                <v-select
                  label="Marketplace"
                  :items="marketplaces"
                  v-model="marketplaceType"
                ></v-select>
                <v-select
                  label="Category"
                  :items="categories"
                  v-model="categoryType"
                ></v-select>

                <template>
                <div>
                    <v-dialog v-model="dialog" max-width="500px">
                    <template v-slot:activator="{ on }">
                        <v-layout justify-end row>
                            <v-flex xs2>
                                <v-btn color="blue darken-1" dark class="mb-2 " v-on="on">New Item</v-btn>
                            </v-flex>
                        </v-layout>
                    </template>
                    <v-card>
                      <v-card-title>
                          <h1> New Item </h1>
                      </v-card-title>


                      <v-card-text>
                        <v-container grid-list-md>
                          <v-layout wrap>
                            <v-flex xs12 sm6 md4>
                              <v-text-field v-model="newMarketplace" label="MarketPlace"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                              <v-text-field v-model="newImage" label="Image URL"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                              <v-text-field v-model="newTitle" label="Title"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                              <v-text-field v-model="newCategory" label="Category"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                              <v-text-field v-model="newQuantity" label="Qty"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                              <v-text-field v-model="newCost" label="Cost"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                              <v-text-field v-model="newSku" label="SKU"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                              <v-text-field v-model="newLocation" label="Location"></v-text-field>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="cancelnewitem()">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click="addItem()">Save</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
              </div>
              </template>

                <v-data-table
                  :headers="headers"
                  :items="filteredItem"
                  class="elevation-1"
                > <!--change to filtered items-->
                 <template v-slot:items="props">
                     <td>{{ props.item.marketplace }}</td>
                     <td><v-img width="100%" v-bind:src="props.item.image"></v-img></td>
                     <td>{{ props.item.title }}</td>
                     <td>{{ props.item.category}}</td>
                     <td>{{ props.item.quantity }}</td>
                     <td>{{ props.item.sku }}</td>
                     <td>{{ props.item.location }}</td>
                     <td>{{ props.item.cost }}</td>
                     <td class="layout">
                              <v-icon class="mr-2 align-center pt-4" small  @click=""> edit </v-icon>
                              <v-icon class="mr-2 align-center pt-4" small @click="deleteItem(props.item)"> delete </v-icon>
                    </td>

                 </template>



                </v-data-table>
            </v-container>
            <v-container grid-list-lg fluid v-if="page == 'admin'">
                <h1> Admin</h1>
            </v-container>

        </v-content>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="app.js"></script>
</body>
</html>
